<div class="container">
  <mat-toolbar>
    <img width="40" alt="Angular Logo"
      src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==" />
    <span>Bord</span>
  </mat-toolbar>

  <mat-card>
    <mat-card-title>
      Boards
    </mat-card-title>
    <mat-card-content>
      <mat-tab-group>
        <mat-tab *ngFor="let board of boards" label="{{board.name}}">
          <table id="board-{{board.boardId}}" #table mat-table trackBy:trackByTaskId
            [dataSource]="boardsWithTasks[board.boardId].tasks">
            <ng-container matColumnDef="taskId">
              <th mat-header-cell *matHeaderCellDef>Id</th>
              <td mat-cell *matCellDef="let task">{{task.taskId}}</td>
            </ng-container>
            <ng-container matColumnDef="priority">
              <th mat-header-cell *matHeaderCellDef>Priorty</th>
              <td mat-cell *matCellDef="let task">{{task.priority}}</td>
            </ng-container>
            <mat-text-column name="description"></mat-text-column>
            <ng-container matColumnDef="isCompleted">
              <th mat-header-cell *matHeaderCellDef>Complete</th>
              <td mat-cell *matCellDef="let task">{{task.isCompleted}}</td>
            </ng-container>
            <ng-container matColumnDef="actions">
              <th mat-header-cell *matHeaderCellDef>Actions</th>
              <td mat-cell *matCellDef="let task">
                <button mat-raised-button (click)="onClickCheck(task, board)">&#10003;</button>
                <button mat-raised-button [disabled]="task.priority.length >= 2"
                  (click)="onClickPrioritize(task, board)">&#8593;</button>
                <button mat-raised-button [disabled]="!task.priority.length"
                  (click)="onClickDeprioritize(task, board)">&#8595;</button>
                <button mat-raised-button color="warn" (click)="onClickDelete(task, board)">&#10006;</button>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"
              [class.row-priority-high]="row.priority === '!!'" [class.row-priority-medium]="row.priority === '!'"
              [class.row-isComplete]="row.isCompleted">
            </tr>
          </table>
          <!-- <span matBadge="{{task.priority}}" matBadgeOverlap="false" matBadgeColor="warn">{{task.taskId}}</span> -->
          <mat-card>
            <mat-card-title>New task</mat-card-title>
            <mat-card-content>
              <form #f="ngForm" (ngSubmit)="onClickCreateTask(f,board.boardId)" novalidate class="new-task">
                <mat-form-field class="priority" id="new-task-priority-boardid-{{board.boardId}}">
                  <mat-label>Priority</mat-label>
                  <mat-select name="priority" ngModel value="">
                    <mat-option *ngFor="let option of priorityOptions" [value]="option.value">
                      {{option.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="description" id="new-task-description-boardid-{{board.boardId}}">
                  <mat-label>Description</mat-label>
                  <input name="description" ngModel required=true matInput placeholder="pick up eggs">
                </mat-form-field>
                <button mat-raised-button type="submit" color="accent">&#10010;</button>
              </form>
              Delete Board
              <button mat-raised-button color="warn" (click)="onClickDeleteBoard(board.boardId)">&#10006;</button>
            </mat-card-content>
          </mat-card>
        </mat-tab>
        <mat-tab label="&#10010;">
          <mat-card>
            <mat-card-title>New Board</mat-card-title>
            <mat-card-content>
              <form #fb="ngForm" (ngSubmit)="onClickCreateBoard(fb)" class="new-board">
                <mat-form-field class="name" id="new-board-name">
                  <mat-label>Name</mat-label>
                  <input name="name" ngModel required=true matInput placeholder="Groceries">
                </mat-form-field>
                <button mat-raised-button type="submit" color="accent">&#10010;</button>
              </form>
            </mat-card-content>
          </mat-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
  </mat-card>

</div>
